apiVersion: v1
kind: ServiceAccount
metadata:
  name: aws-load-balancer
  namespace: kube-system
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::${account_id}:role/role-exploration-eks-fargate"
